 /* Body 
-------------------------------------------------- */
body {
  padding-bottom: 0px;
  color: #5a5a5a;
  /*background: #F1E8E8;*/
  background: url('../img/bg.jpg');
}

/* NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

/* CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 300px;
  background-color:#555;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remve the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
    margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

}

.carousel-inner{
  height: 300px;
}

#footerCompanyLink{
  color:#428bca;
}

#userprofilelink{
  list-style: none;
}
#upcoming-events
{
  margin-left: 15px;
}

/* Header Container*/
#headerContainer{
  padding: 0px;
  margin-top: 10px;
}
/* -------*/

/* Department Heading */
#deptHeading{
  margin-bottom: 0px;
  font-size: 35px;
  text-shadow: 1px 1px 1px #000000;
  color:#AC8585;
}
#deptTagline{
  font-size: 16px;
}
/* ------ */
/* Content Container*/
#contentContainer{
  border: 3px solid #fff;
  background:#fff;
  min-height:400px;
  padding-bottom: 30px;
}
/*-------*/

/* Custom colors for CMS */
.dpt-text-light{
 color: #fff; 
}
.dpt-text-dark{
  color: #0b7394;
}
.dpt-bg-light{
  background-color: #5dcff3;
  color: #fff;
}
.dpt-bg-dark{
  background-color: #0b7394;
  color: #fff;
}
.dpt-bg-light a {
color: #ffffff;
}
.dpt-alert {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
/* ------*/

/* Dropdown List */
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus, 
.dropdown-menu > .active > a, 
.dropdown-menu > .active > a:hover, 
.dropdown-menu > .active > a:focus {
background-image: none;
filter: none;
background-color: #5dcff3;
color: #fff;
}
/* ---------*/
/*-- Active Nav Highlight --*/
.navbar-header>.active,.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
color: #fff;
background-color: #5dcff3;
}
/* ---------------*/
/* Nav Tabs */
.nav-tabs {
border-bottom: 1px solid #5dcff3;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
color: #5dcff3;
background-color: #fff;
border: 1px solid #5dcff3;
border-bottom-color: transparent;
cursor: default;
}
.nav-tabs>li>a:hover {
border-color: #bce8f1 #bce8f1 #5dcff3;
}
.nav>li>a:hover, .nav>li>a:focus {
text-decoration: none;
background-color: #d9edf7;
}
/* --------------- */
a {
color: #0b7394;
text-decoration: none;
}
.announcement a{
  color: #575757;
}
.list-group-item a{
  color:#575757;
}


#upcoming-events-list{
  height: 259px;
  overflow-y: overlay;
}

#news
{
  margin-left: 15px;
}

#news-list{
  height: 259px;
  overflow-y: overlay;
}
.navbar-default {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}
#webportal{
  margin-left: 15px;
}

#deptstores{
  margin-left: 15px;
}
.topprofilelink
{
    border-left: 2px solid;
    padding: 0px 10px 0px 10px;
}

.breadcrumb{
  margin: 0px;
  margin-top: 24px;
  background: transparent;
  border: 0px solid #ebeff6;
  padding-left: 0px;
  font-size: 14px;
}
#syllabus_body
{
  height: 400px;
  overflow-y: auto;
}
.researchgroup{
  min-height: 130px;
  background: #f1f1f1;
  margin: 5px;
  width: 32%;
  float: left;
  box-shadow: 0px 0px 5px #7E7373;
}
.researchgroup li{
  list-style: none;
  float: left;
}

.researchgroup-title{
  font-size: 14px;
  display: block;
  word-break: break-word;    
  margin-top: 10px;
}
.groupfollow{
  height: 130px;
  padding-top: 20px;
}
.rg-user-small{
  padding: 2px;
}
.rg-user-small a{
  border-right: 1px solid;
}
.rg-user-small:last-child a{
  border-right: 0px solid;
}

.researchgroup:hover {
box-shadow: 0px 0px 17px #818080;
}

.ppllist{
  min-height: 130px;
  background: #f1f1f1;
  margin: 5px;
  width: 32%;
  float: left;
  box-shadow: 0px 0px 5px #7E7373;
}
.ppllist li{
  list-style: none;
  float: left;
}
.ppllist li a{
  padding: 20px;
  color: #428bca;
}
.ppllist-title{
  font-size: 14px;
  display: block;
  word-break: break-word;    
  margin-top: 20px;
}
.ppllist:hover {
box-shadow: 0px 0px 17px #818080;
cursor: pointer;
}

.each-book{
  // padding: 10px 10px 10px 32px;
  // border-radius: 4px;
}
.each-book:hover {
//background: #f1f1f1;
}
.deletebook, .editbook{
  //display: none;
}
.each-book:hover .deletebook{
//display: inline;
}
.each-book:hover .editbook{
//display: inline;
}

.each-book p
{
  margin: 0px;
}

.each-publication{
  // padding: 10px 10px 10px 32px;
}
.each-publication:hover{
  //background: #f1f1f1;
}
.deletepublication, .editpublication{
  //display: none;
}
.each-publication:hover .deletepublication{
//display: inline;
}
.each-publication:hover .editpublication{
//display: inline;
}
.each-publication p
{
  margin: 0px;
}

.error{
    display: block;
    color: red;
    font-weight: bold;
  }

  #grouppillbox{
    border: 1px solid #e0e4e8;
padding: 10px;
border-radius: 4px;
  }

  #grouppillbox ul{
  margin: 0;
padding: 0;
list-style: none;
  }
#grouppillbox li{
  display: inline-block;
font-size: 12px;
color: #fff;
padding: 6px 8px;
cursor: pointer;
margin: 2px;
float: left;
}
#grouppillbox input {
border: none;
outline: 0;
padding: 2px;
min-height: 20px;
width: auto;
display: inline-block;
box-shadow: none;
background: transparent;
}
#grouppillbox li:after {
content: " x";
font-size: 11px;
font-weight: normal;
opacity: 0.6;
filter: alpha(opacity=60);
}
.showmore
{
  display: none;
}

.each-user{
  cursor: pointer;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}
